<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean class="service.horse.HorseServiceImpl" id="horse">
    <constructor-arg
      value="D:\java_projects\orgepamraceEmulator\src\main\resources\horses.json"></constructor-arg>
  </bean>
  <bean class="service.emulation.EmulationServiceImpl" id="emulation">
    <constructor-arg ref="race"></constructor-arg>
  </bean>
  <bean class="service.race.RaceServiceImpl" id="race">
    <constructor-arg ref="horse"></constructor-arg>
  </bean>
</beans>